[submodule "ESE_356_project_1"]
	path = ESE_356_project_1
	url = https://github.com/jbeneliezer/ESE_356_project_1.git
[submodule "project1"]
	path = project1
	url = https://github.com/jbeneliezer/ESE_356_project_1.git
